.markdown-preview-view h1 {
    color: #6867AF;
}

.cm-header-1 {
    color: #6867AF;
}

.markdown-preview-view h2 {
    color: #6867AF;
}

.cm-header-2 {
    color: #6867AF;
}

.markdown-preview-view h3 {
    color: #6867AF;
}

.cm-header-3 {
    color: #6867AF;
}

.markdown-preview-view h4 {
    color: #6867AF;
}

.cm-header-4 {
    color: #6867AF;
}

.markdown-preview-view h5 {
    color: #6867AF;
}

.cm-header-5 {
    color: #6867AF;
}

.markdown-preview-view h6 {
    color: #6867AF;
}

.cm-header-6 {
    color: #6867AF;
}